

<form class="well-container" ng-submit="vm.createDog()">
	
	<div class="input-group">
		<label>Name</label>
		<input class="form-control" placeholder="Name..." ng-model="vm.dog.name">
	</div>

	<div class="input-group">
		<label>Breed</label>
		<input class="form-control" placeholder="Breed..." ng-model="vm.dog.breed">
	</div>

	<div class="input-group">
		<label>Age</label>
		<input class="form-control" placeholder="Age..." ng-model="vm.dog.age">
	</div>

	<button type="submit" class="btn btn-success">Finish</button>



</form>