



<div class="col-sm-6">

	<div class="clock">
		<span class="timeBox">{{vm.workHrs}}</span>
		<span class="timeBox">{{vm.workMins}}</span>
		<span class="timeBox">{{vm.workSecs}}</span>
	</div>
	<h3>Work Time</h3>
	<button class="btn btn-success" ng-click="vm.startWork()"><span class="glyphicon glyphicon-play"></span></button>
</div>

<div class="col-sm-6">
	
	<div class="clock">
		<span class="timeBox">{{vm.breakHrs}}</span>
		<span class="timeBox">{{vm.breakMins}}</span>
		<span class="timeBox">{{vm.breakSecs}}</span>
	</div>
	<h3>Break Time</h3>
	<button class="btn btn-info" ng-click="vm.startBreak()"><span class="glyphicon glyphicon-play"></span></button>
</div>


</div>